.container5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    width: 100%;
    margin-bottom: 50px;
    background-color: #f9fafd;
    padding-bottom: 50px;

}
.container5 p{
    text-align: center;
    max-width: 700px;
    margin-bottom: 50px;
    margin: 0 10px 30px 30px;
}
.offer-img{
    height: 20px;

}
.tablets-offer{
    display: grid;
    justify-content: center;
    grid-template-columns: 400px;
    grid-gap: 20px;

}
.offer-tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border-box);
    border-radius: 10px;
    background-color: #f9fafd;
    transition: all 0.15s;
    padding-top: 13px;
    position: relative;
}
.offer-tab:hover{
box-shadow: 5px 5px 10px rgb(0, 0, 0, 50%);
padding-top: 0px;
padding-bottom: 8px;
}

.offer-tab:hover h5{
    color: var(--primary-color);
}
.offer-tab:hover .b-i-svg{
    
    height: 250px;
    width: 250px;
    
    color: rgb(164, 165, 165, 10%);
}


.offer-tab:hover::before{
    content: '';
    position:absolute;
    width: 50%;
    height: 2px;
    top: 98%;
    background: var(--primary-color);
    z-index: 1; 
    animation: laudas1 1s;
    animation-fill-mode: forwards;
    border-radius: 5px;
}
    @keyframes laudas1 {
        0%{
            width: 0%;
            

        }

        100%{
            width: 98%;
        }
    
} 
.back-img{
    position: absolute;
    bottom: 2px;
    right: 2px;
}
.b-i-svg{
    height: 35px;
    width: 35px;
    color: rgb(164, 165, 165, 50%);    
    transition: all 0.5s;
}

.svg-heiht{
color: var(--primary-color);
width: 40px;
height: auto;
padding: 40px 0 0;


}
@media (min-width: 850px){
    .tablets-offer{
        display: grid;
        justify-content: center;
        grid-template-columns: 400px 400px ;
        grid-gap: 20px;
        
    }

}

@media (min-width: 1200px){
    .tablets-offer{
        display: grid;
        justify-content: center;
        grid-template-columns: 400px 400px 400px ;
        grid-gap: 20px;
        
    }
    
}