.container4{
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-items: center;
    background-image: url(../image/bg-counter.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 15px ;
    margin-bottom: 50px;
}

.tablet-2{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 30px;
    width: 100%;
    
}

.svg-2{
    color: var(--primary-color);
    padding: 10px;

}

.text-4{

    color: white;
    font-size: 30px;
    font-weight: bold;

}

.text-5{

    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;

}

@media (min-width: 600px){
    .container4{
        display: grid;        
        justify-content: center;
        grid-template-columns: 250px 250px;
        grid-row-gap: 20px;


}
}
@media (min-width: 1200px){

    .container4{
    display: flex;
    flex-direction: row;    
    align-content: center;
    justify-content: center;
    }


}