:root{

    --primary-color: #e54b4b;
    --text-color: rgb(156, 154, 154);
    --text-color-mobile: rgb(177, 177, 177);
    --ux-design: 90%; 
    --border-box: rgb(227, 226, 226);
}
    html{
        scroll-behavior: smooth;
    }